.heading
{
    background-color: blue;
    font-size:25px;
    width:100%;
    margin: 1px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 13px;
    color:snow;
}

.copy_right_footer{
    position:fixed;
    color:white;
    bottom: 0;
    width:100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas{
    border:5px solid black;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}